{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid">
        <h1>What would you like to search?</h1>
        <div class="container">
            <a href="/playlist/{{ playlistName.id }}/new/searchartist">
                <button type="button" class="btn btn-success btn-lg">Artist</button>
            </a>
            <a href="/playlist/{{ playlistName.id }}/new/searchalbum">
                <button type="button" class="btn btn-success btn-lg">Album</button>
            </a>
            <a href="/playlist/{{ playlistName.id }}/new/searchsong">
                <button type="button" class="btn btn-success btn-lg">Song</button>
            </a>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock content %}