{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid">
        <h1>Songs for {{ albumName.name }}  by {{albumName.artist.name}}</h1>
        {% if songs.count()== 0 %}
        <div class="alert alert-danger" role="alert">
            There are no songs in this album! 
        </div>
        {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Track Number</th>
                <th scope="col">Name</th>
                <th scope="col">Popularity</th>
                <th scope="col">Energy</th>
            </tr>
            </thead>
            <tbody>

            {% for song in songs %}
            <tr>
                <td>{{ song.track_number }}</td>
                <td><a href="{{ song.uri }}">{{ song.name }}</a></td>
                <td>{{ song.popularity }}</td>
                <td>{{ song.energy }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>
    <!-- /#page-content-wrapper -->
{% endblock content %}