{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid">
        <h1>All Albums in the database</h1>
        {% if albums|length == 0 %}
        <div class="alert alert-danger" role="alert">
            There are no albums in the database! 
        </div>
        {% else %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Release Date</th>
            </tr>
            </thead>
            <tbody>

            {% for album in albums %}
            <tr>
                <td><a href="/album/{{ album.id }}">{{ album.name }}</a></td>
                <td><a href="/artist/{{ album.artist.id }}">{{ album.artist.name }}</td>
                <td>{{ album.release_date }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>
    <!-- /#page-content-wrapper -->
{% endblock content %}