{% extends "searchLayout.html" %}

{% block header %}
<h1>Searching artists for {{playlistName.name}}</h1>
{% endblock header %}

{% block searchType %}
artists
{% endblock searchType %}

{% block attributes1 %}
<option value="">Choose...</option>
<option>Name</option>
<option>Followers</option>
{% endblock attributes1 %}

{% block results %}
<!-- Page Content -->
<div class="container-fluid">
    {% if songs|length == 0 %}
    <div class="alert alert-danger" role="alert">
        There were no song results returned.
    </div>
    {% else %}
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Popularity</th>
                <th scope="col">Energy</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr>
                <td><a href="{{ song.uri }}">{{ song.name }}</a></td>
                <td>{{ song.popularity }}</td>
                <td>{{ song.energy }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<!-- /#page-content-wrapper -->
{% endblock results %}

{% block infoTable %}
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name</td>
            <td>string</td>
            <td>The name of the artist.</td>
        </tr>
        <tr>
            <td>Followers</td>
            <td>integer</td>
            <td>The total number of followers.</td>
        </tr>
        <tr>
            <td>Popularity</td>
            <td>integer</td>
            <td>
                The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist’s popularity is calculated from the popularity of all the artist’s tracks.
            </td>
        </tr>
    </tbody>
</table>
{% endblock infoTable%}