{% extends "searchLayout.html" %}

{% block header %}
    <h1>Searching artists for {{playlistName.name}}</h1>
{% endblock header %}

{% block searchType %}
    <option value="">Artist</option>
{% endblock searchType %}

{% block attributes1 %}
    <option value="">Choose...</option>
    <option>Name</option>
    <option>Followers</option>
{% endblock attributes1 %}

{% block attributes2 %}
    <option value="">Choose...</option>
    <option>Name</option>
    <option>Followers</option>
{% endblock attributes2 %}

{% block attributes3 %}
    <option value="">Choose...</option>
    <option>Name</option>
    <option>Followers</option>
{% endblock attributes3 %}

{% block attributes4 %}
    <option value="">Choose...</option>
    <option>Name</option>
    <option>Followers</option>
{% endblock attributes4 %}