{% extends "layout.html" %}
{% block content %}
<!-- Page Content -->
<div class="container-fluid">
    {% block header %}{% endblock %}
    <!-- Search Input -->
    <form action="" method='POST'>
        <!-- Row 1 -->
        <div class="row">
            <div class="col">
                <label>Please provide a filter for {% block searchType %}{% endblock %}:</label>
            </div>
            <div class="col">
                <select class="custom-select d-block w-100" name="attribute" required="">
                    {% block attributes1 %}{% endblock %}
                </select>
                <div class="invalid-feedback">
                    Please provide a valid parameter.
                </div>
            </div>
            <div class="col">
                <select class="custom-select d-block w-100" name="operator" required="">
                    <option value="">Choose...</option>
                    <option>=</option>
                    <option>&lt</option>
                    <option>&gt</option>
                </select>
                <div class="invalid-feedback">
                    Please provide a valid conditional.
                </div>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="usrText" required="">
                <div class="invalid-feedback">
                    Parameter required.
                </div>
            </div>
        </div>
        <!-- /#row-1-wrapper -->
        <div class="row">
            <div class="col"><!-- Empty column --></div>
            <div class="col">
                <label>Order by</label>
            </div>
            <div class="col">
                <select class="custom-select d-block w-100" name="orderByParam">
                    {% block attributes2 %}{% endblock %}
                </select>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="orderByOrder" id="exampleRadios1" value="ascending" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Ascending
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="orderByOrder" id="exampleRadios2" value="descending">
                    <label class="form-check-label" for="exampleRadios2">
                      Descending
                    </label>
                  </div>
            </div>
            
        </div>
        <button class="btn btn-primary" type="submit" value="searchSong">Filter</button>
    </form>
    <!-- /#search-input-wrapper -->
    {% if songs != None %}
        {% block results %}{% endblock %}
    {% endif %}

    {% block infoTable %}{% endblock %}
</div>
<!-- /#page-content-wrapper -->
{% endblock content %}