{% extends "layout.html" %}
{% block content %}
<!-- Page Content -->
<div class="container-fluid">
    {% block header %}{% endblock %}
    <!-- Search Input -->
    <form action="#" method='POST'>
        <div class="container">
            <!-- Row 1 -->
            <div class="row">
                <div class="col">
                    <label>Please provide a {% block searchType %}{% endblock %} filter:</label>
                </div>
                <div class="col">
                    <select class="custom-select d-block w-100" name="attribute" required="">
                        {% block attributes1 %}{% endblock %}
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid parameter.
                    </div>
                </div>
                <div class="col">
                    <select class="custom-select d-block w-100" name="operator" required="">
                        <option value="">Choose...</option>
                        <option>=</option>
                        <option>!=</option>
                        <option>
                            << /option>
                        <option>></option>
                        <option>
                            <=< /option>
                        <option>>=</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid conditional.
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="usrText" required="">
                    <div class="invalid-feedback">
                        Parameter required.
                    </div>
                </div>
            </div>
            <!-- /#row-1-wrapper -->
        </div>
        <button class="btn btn-primary" type="submit" value="searchSong">Search Song</button>
    </form>

    <!-- /#search-input-wrapper -->
</div>
<!-- /#page-content-wrapper -->
{% endblock content %}