{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid">
        <h1>Searching songs for {{playlistName.name}}</h1>

        <form action="{{url_for('searchSong', playlist_id=playlistName.id)}}" method='POST'>
            <!-- Row 1 -->
            <div class="row">
                <div class="col">
                    <label>Select filter:</label>
                </div>
                <div class="col">
                    <select class="custom-select d-block w-100" name="attribute" required="">
                        <option value="">=</option>
                        <option>Name</option>
                        <option>Album</option>
                        <option>Artist</option>
                        <option>Popularity</option>
                        <option>Duration</option>
                        <option>Time Signature</option>
                        <option>Danceability</option>
                        <option>Tempo</option>
                        <option>Energy</option>
                        <option>Instrumentalness</option>
                        <option>Valence</option>
                        <option selected="selected">Explicit</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid parameter.
                    </div>
                </div>
                <div class="col">
                    <select class="custom-select d-block w-100" name="operator" required="">
                        <option value="">Choose...</option>
                        <option selected="selected">=</option>
                        <option>&lt</option>
                        <option>&gt</option>
                    </select>
                    <div class="invalid-feedback">
                        Please provide a valid conditional.
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="usrText" value="1" required="">
                    <div class="invalid-feedback">
                        Parameter required.
                    </div>
                </div>
            </div>
            <!-- /#row-1-wrapper -->
            <button class="btn btn-primary" type="submit" value="searchSong">Filter</button>
        </form>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock content %}