{% extends "searchLayout.html" %}

{% block header %}
    <h1>Searching songs for {{playlistName.name}}
    <a href="/playlist/{{ playlistName.id }}/new/" class="btn btn-secondary btn-sm btn-success" role="button">Search Songs</a></h1>
{% endblock header %}

{% block searchType %}
    <option value="">Song</option>
{% endblock searchType %}

{% block attributes1 %}
    <option value="">Choose...</option>
    <option>Name</option>
    <option>Popularity</option>
    <option>Duration</option>
    <option>Danceability</option>
    <option>Explicit</option>
    <option>Tempo</option>
    <option>Energy</option>
    <option>Instrumentalness</option>
    <option>Time Signature</option>
    <option>Valence</option>
    <option>Album ID</option>
{% endblock attributes1 %}

{% block attributes2 %}
    <option value="">Choose...</option>
    <option>Name</option>
    <option>Popularity</option>
    <option>Duration</option>
    <option>Danceability</option>
    <option>Explicit</option>
    <option>Tempo</option>
    <option>Energy</option>
    <option>Instrumentalness</option>
    <option>Time Signature</option>
    <option>Valence</option>
    <option>Album ID</option>
{% endblock attributes2 %}

{% block attributes3 %}
    <option value="">Choose...</option>
    <option>Name</option>
    <option>Popularity</option>
    <option>Duration</option>
    <option>Danceability</option>
    <option>Explicit</option>
    <option>Tempo</option>
    <option>Energy</option>
    <option>Instrumentalness</option>
    <option>Time Signature</option>
    <option>Valence</option>
    <option>Album ID</option>
{% endblock attributes3 %}

{% block attributes4 %}
    <option value="">Choose...</option>
    <option>Name</option>
    <option>Popularity</option>
    <option>Duration</option>
    <option>Danceability</option>
    <option>Explicit</option>
    <option>Tempo</option>
    <option>Energy</option>
    <option>Instrumentalness</option>
    <option>Time Signature</option>
    <option>Valence</option>
    <option>Album ID</option>
{% endblock attributes4 %}