<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Spotify-DB HomePage</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Hello Databasify!</h1>
                <p>Songs in {{albumName.name}}</p>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Track No</th>
                            <th scope="col">Song Name</th>
                            <th scope="col">Artist Name</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in songs %}
                        <tr>
                            <th scope="row">{{song.track_number}}</th>
                            <td >{{song.name}}</td>
                            <td>{{song.album.artist.name}}</td>
                            <td>{{song.duration}}</td>
                            
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>
</html>