{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid">
        <h1>Query options</h1>
        <form action="{{url_for('ta')}}" method = 'POST'>
            <div class="form-group">
                <div class="card w-75">
                    <div class="card-body">
                    <h5 class="card-title">Simple select query</h5>
                    <input class="form-control" name="1" type="text" placeholder="SELECT * FROM SONG;" readonly>
                    <button type="submit" class="btn btn-primary">Execute</button>
                    </div>
                </div>
            </div>
        </form>

        <form action="{{url_for('ta')}}" method = 'POST' >
            <div class="form-group">
                <div class="card w-75">
                    <div class="card-body">
                    <h5 class="card-title">Another query</h5>
                    <input class="form-control" name="2" type="text" placeholder="SELECT ID FROM SONG;" readonly>
                    <button type="submit" class="btn btn-primary">Execute</button>
                    </div>
                </div>
            </div>
        </form>
        

    </div>
    <!-- /#page-content-wrapper -->
{% endblock content %}