{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid">
        <h1>Query results</h1>
        </div>
           
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">0</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
            </tr>
            </thead>
            <tbody>
            {% for song in songs %}
            <tr>
                <td>{{song}}</td>
                <td>{{song[0]}}</td>
                <td>{{song[0]}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
    <!-- /#page-content-wrapper -->
{% endblock content %}