{% extends "layout.html" %}
{% block content %}
    <!-- Page Content -->
    <div class="container-fluid">
        <div class="container-fluid">
            <h1>Are you sure you want to delete playlist {{ playlistName.name }}?</h1>
            <form action="{{url_for('deletePlaylist', playlist_id=playlistName.id)}}" method='POST'>
                <button class="btn btn-primary btn-danger" type="submit" value="Delete">Yes</button>
                <a href="/playlist/{{ playlistName.id }}" class="btn btn-primary btn-warning" >No</a>
            </form>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
{% endblock content %}